@import "tailwindcss";

/* 全局样式 */
body {
  /* background-color: #f0f8ff; */
  background-color: #ffffff;
  margin: 0;
}

/* 应用容器样式 */
#app {
  /* 在宽屏下限制最大宽度并居中 */
  max-width: 850px; /* 中等设备宽度，您可以按需调整 */
  margin: 0 auto;

  /* 添加阴影效果以突出显示 */
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); */
  
  /* 确保应用本身有背景色并占满整个高度 */
  background-color: #ffffff; /* 应用区域的背景色 */
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

/* 适用于 Firefox */
* {
  scrollbar-width: none; /* 隐藏滚动条 */
}